version: "3.9"

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-budget-app
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: always