services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      cache_from:
        - nextjs-budget-app-app:latest

    image: nextjs-budget-app-app:latest

    env_file:
      - .env
      - .env.local

    ports:
      - "3000:3000"

    restart: unless-stopped