version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mini-budget-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_SUPABASE_URL: https://mivsjqqlfoglkivxbupg.supabase.co
      NEXT_PUBLIC_SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pdnNqcXFsZm9nbGtpdnhidXBnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzMTE5NTUsImV4cCI6MjA3OTg4Nzk1NX0.ZVbSAczPazDmATWS_OO-oEN0b7xLSowv9K0YD80iCdA